* {
  margin: 0;
}
html, body {
  height: 100%;
}

body {
	background: #fefefe;
	color: #34495e;
	font-family: "proxima-nova-1", "proxima-nova-2", sans-serif;
	font-size: 14px;
	line-height: 1.231;
	text-rendering: optimizelegibility;
	margin: 0;
}

p {
	font-size: 15px;
	line-height: 1.722169;
	margin: 0 0 10px;
}

a {
	color: #1da9cc;
	text-decoration: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
}

a:hover {
	color: #1fb7d8;
}

img {
	max-width: 100%;
}

/* ==========================================================================
	 Layout
	 ========================================================================== */

[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 30px;
}

.container {
	margin: 0 auto;
	width: 970px;
	min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}

.container:after {
  content: "";
  display: block;
}

footer, .container:after {
  /* .push must be the same height as footer */
  height: 100px;
}

.span3 {
	width: 220px;
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}

	.span3 {
		width: 270px;
	}
}

/* ==========================================================================
	 Header
	 ========================================================================== */

header {
	margin: 60px 0 70px;
}

header h1 {
	color: #1da9cc;
	font-family: "freight-sans-pro-1","freight-sans-pro-2";
	font-style: normal;
	font-weight: 700;
	line-height: 1.1;
	font-size: 90px;
	margin: 0;
	text-align: center;
}

header h2 {
	font-family: "freight-sans-pro-1","freight-sans-pro-2";
	font-style: normal;
	font-weight: 400;
	margin-bottom: 4px;
	margin-top: 2px;
	font-size: 40px;
	text-align: center;
}

/* ==========================================================================
	 Main
	 ========================================================================== */

.row {
	margin-left: -30px;
	height: 400px;
}

@media (min-width: 1200px) {
	.row {
		height: 350px;
	}
}
/* Box
	 ========================================================================== */

.box {
	background-color: #ecf0f5;
	border-radius: 6px;
	padding: 14px;
	position: relative;
	text-align: center;
}

.box img {
	height: 100px;
	margin: 31px 0 27px;
	vertical-align: bottom;
}

.box .big-illustration {
	height: 111px;
	margin-top: 20px;
	width: 112px;
}

.box h3 {
	font-size: 20px;
	margin: 0;
}

.box p {
	margin-bottom: 33px;
}

.box.box-hot:before {
	background: url("../img/ribbon.png") 0 0 no-repeat;
	background-size: 82px 82px;
	content: "";
	height: 82px;
	position: absolute;
	right: -4px;
	top: -4px;
	width: 82px;
}

.box a {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16.996px;
	line-height: 20px;
	padding: 12px 18px 13px;
	background: #1da9cc;
	border: none;
	color: #ffffff;
	text-decoration: none;
	text-shadow: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-backface-visibility: hidden;
	width: 100%;
}

.box a:hover {
	background: #1fb7d8;
}

/* ==========================================================================
	 Footer
	 ========================================================================== */

footer {
	background: #ebedef;
	bottom: 0;
	color: #b8bfc7;
	width: 100%;
}

footer p {
	font-size: 18.004px;
	padding: 40px 0 0;
}

.credits {
	float: left;
}

.license {
	float: right;
	text-align: right;
}
